\.vs
*.user
AC4Analysis/AC4Analysis_TemporaryKey.pfx
AC4Analysis/obj
*.txt
/AC4_3DWIN2/Debug
/AC4_3DWIN2/Release
/bin
/glew/Debug
/glew/Release
/glew/static/debug
/glew/static/release
/glfw/Debug
/glfw/Release
/lib
